*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: darkgreen;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: whitesmoke;
}

.card {
  background-color:rgb(187, 223, 187);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

#copy-btn {
  border-radius: 4px;
  border: 1px solid rgb(2, 68, 22);
}

#copy-btn:hover {
  background-color: rgb(2, 68, 22);
  cursor: pointer;
}
#copy-img {
  width: 28px;
  height: auto;
  margin: 0;
  padding: 0;
}

.copy-to-clipboard {
  position: relative;
  display: block;
}

/* tooltip for copy to clipboard with 0.5 sec delay */
.copy-to-clipboard .copy-tooltip {
 visibility: hidden;
 width: 110px;
 background-color: darkgreen;
 color: #e7e9eb;
 text-align: center;
 font-size: small;
 padding: 8px;
 border-radius: 4px;
 position: absolute;
 z-index: 1;
 transition: ease-in-out;
 transition-delay: 0.5s ;

}

.copy-to-clipboard:hover .copy-tooltip { 
  visibility: visible;
}

.slide-container {
  text-align: center;
  display: flex;
  -ms-flex-align: center;
  padding: 4px 0 0 8px;
}

#pw-range { 
  margin: 20px 4px;
  width: 70%;
}

.character-criteria {
  padding-bottom: 12px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: rgb(2, 68, 22);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  #pw-length {
    padding-right: 8px;
  }

  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
